<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./home.css">
    
    <title>Wait</title>
</head>
<body>
    <header>
        <nav>
            <ul class="nav__links">
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="#">OTHERS</a></li>
            </ul>
        </nav>
    </header>
    <div class="overlay">
        <a >&times;</a>
        <div class="overlay__content">
            <a href="/login">Login</a>
            <a href="#">Register</a>
            <a href="#">About</a>
        </div>
    </div>
    <section>
        <h1 class="hpr">Your request has been sent.Please wait for the admin to accept your job request</h1>
    </section>


</body>
</html>